<%= scrivito_details_for 'Person' do %>
  <p> name: </p>
  <%= scrivito_tag :div, @obj, :name %>
  <p> image: </p>
  <%= scrivito_tag :div, @obj, :image %>
  <p> body: </p>
  <%= scrivito_tag :div, @obj, :body %>
<% end %>
